.button {
  left: 0;
  top: 50%;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-50%);
  color: white;
  font-size: 12px;
  position: absolute;
  width: 0;
  transition: all 0s;
  white-space: nowrap;
}

.row:hover .button {
  opacity: 1;
  width: 35px;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #007bff;
  padding: 3px 8px;
  overflow: hidden;
}

.row .button:hover {
  width: 100px;
  transition: all 0.1s ease;
  font-weight: bold;
}

.flexContainer {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Center the items horizontally */
  gap: 5px;
}

.MessageIcon {
  width: 14px;
  height: 14px;
}

.listContainer {
  float: left; /* Float containers to the left */
  width: 300px; /* Set fixed width for each list container */
  margin-right: 20px; /* Add space between the list containers */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.row {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  position: relative;
  width: 100%;
}

.row:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.row:last-child {
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.row:hover {
  background-color: #f0f0f0;
}

.content {
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
