.button {
  left: 0;
  top: 50%;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-50%);
  color: white;
  font-size: 12px;
  position: absolute;
  width: 0;
  transition: all 0s;
  white-space: nowrap;
}

.row:hover .button {
  opacity: 1;
  width: 35px;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #007bff;
  padding: 3px 8px;
  overflow: hidden;
}

.row .button:hover {
  width: 107px;
  transition: width 0.22s ease;
}

.flexContainer {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Center the items horizontally */
  gap: 5px;
}

.MessageIcon {
  width: 14px;
  height: 14px;
}

.listContainer {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.row {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  position: relative;
  width: 100%;
}

.row:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.row:last-child {
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.row:hover {
  background-color: #f0f0f0;
}

.content {
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.iconContainer {
  /* styles for the icon container */
}

.textContainer {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
  white-space: nowrap;
}

/* Hover effect on the button to expand the text */
.button:hover .textContainer {
  width: auto; /* or you can specify a fixed width */
}

.button {
  display: flex;
  align-items: center;
  gap: 6px;
}
