.button,
.buttonNoHover {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 0;
  height: 100%;
  padding: 3px 8px;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: transparent;
  transition: none; /* No transition by default */
}

.row:hover .button,
.row:hover .buttonNoHover {
  opacity: 1;
  width: 35px;
  background-color: #007bff;
}

.row:hover .button:hover {
  width: 107px;
  transition: width 0.3s ease;
}

.row:hover .buttonNoHover:hover {
  transition: width 0.0001s ease;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.MessageIcon {
  width: 14px;
  height: 14px;
}

.listContainer {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.row {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  background-color: #f9f9f9;
}

.row:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.row:last-child {
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.row:hover {
  background-color: #f0f0f0;
}

.content {
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.textContainer {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.button:hover .textContainer {
  width: auto;
}
